#navMenu {
    max-width: auto;
    padding-right: 200px;
    margin: auto;
    background-color: rgb(88, 90, 119);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menuDesplegable {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuDesplegable>li>a {
    display: block;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

#navHome{
    color: white;
    list-style: none;
    display:contents;
    
}



